body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    padding: 50px 20px; /* Increased vertical padding */
    text-align: center;
}

header h1 {
    margin: 0;
}

#header-image {
    display: block;
    margin: 0 auto;
    max-width: 50%;  /* Adjust this as needed */
}

main {
    max-width: 800px; /* Or whatever maximum width you prefer */
    margin: 0 auto; /* Centers the main content */
    padding: 20px;
}

section {
    margin-bottom: 20px;
}
